body {
  margin: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.title {
	font-family: 'Nunito Sans', sans-serif;
	color: #444;
	font-size: 36px;
	line-height: 1.33;
	font-weight: 500;
	margin-top: 60px;
	margin-bottom: 20px;
}

.board {
	background-color: #ffffff;
	border-width: 1px;
	border-color: #c4c4c4;
	border-style: solid;
	padding: 14px;
}

.square {
	background-color: #eaeaea;
	height: 100px;
	width: 100px;
	margin: 1px;
}	

.square.winning {
	background-color: #FFFACD;
}

.pieces {
	color: #2d4558;
	font-weight: 300;
	font-size: 42px;
}

.button_font {
	font-family: 'Nunito Sans', sans-serif;
	color: #FFF;
	font-size: 24px;
	font-weight: 700;
	letter-spacing: 0.1em;
}

.button {
	background-color: #2d4558;
	border-color: #2d4558;
	border-style: solid;
	border-radius: 2px;
	border-width: 2px;
	height: 56px;
	width: 196px;
	margin-top: 32px
}

.game {
	display: flex;
	flex-direction: column;
	align-items: center;
}
